
<div class="card-body custom-table border rounded shadow bg-dark bg-opacity-25">
    <h1 class="text-center text-uppercase" style="color:green">User Registered Successfully</h1>
</div>

<a type="submit" class="btn btn-secondary text-uppercase mt-3" asp-controller="User" asp-action="Create">Back</a>